/*Gallery3*/

body {
  font-family: Verdana;
  background: linear-gradient(to right, lightgreen, teal);
  margin:0;
    }

img {
    max-width:100%;
    }

.box {
  border-radius: 1px;
  padding: 10px;
    }
    
header {
    background:rgba(0,0,0,.2);
    grid-area:header;
    }

.headerpic {
    grid-area:headerpic;
    margin:auto 0;
    max-height:12em; /*Note that the height and width may need to be adjusted for your image*/
    }

.headertext {
    grid-area:headertext;
    text-align:center;
    }
    
.headerwrapper { /*Subgrid in my header to keep my picture and text seperated*/
    display:grid;
    grid-template-columns:30% auto;
    grid-template-areas:
    "headerpic headertext"
    }

header h1 {
     font-size:6vw;
     font-family:Impact;
     text-shadow: 2px 2px 5px navy;
     margin: 2px 0;
    }

header h4 {
    font-size:3vw;
    font-family:Arial;
    color:navy;
    margin:1em 0 0 0;
    }
    
header a {
    text-decoration:none;
    color:mediumspringgreen;
    }

nav {   
    background-color:navy;
    font-size:125%;
    grid-area:nav;
    text-align:center;
    padding:.5em;
    margin:0;
    /*Lines 102 to 105 make the menu stick to the top*/
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index:999;
}

/*This stuff is to make my navigation go horizontal on full screen*/
.first {
    grid-area:first;
    margin-left:0;
}

.second {
    grid-area:second;
}

.third {
    grid-area:third;
}

.fourth {
    grid-area:fourth;
}

.fifth {
    grid-area:fifth;
}

#navwrapper {
    display:grid;
    grid-template-areas:
    "first" 
    "second"
    "third"
    "fourth" 
    "fifth";
    }
    
main {
    background:rgba(0,0,0,.2);
    color:white;
    grid-area:main;
    }

main a {
    color:mediumspringgreen;
    font-weight:bold;
}

:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}


/* Demo styles */
:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}


/* Demo styles */
.app {
  width: 375px;
  height: 667px;
  background: #DBD0BC;
  overflow-y: scroll;
}

.hs > img,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}



:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}

/* Demo styles */
    
/*--------Mobile first - no media query needed until the screen is larger than 480px---------*/  


.wrapper3 { /*gallery.html*/
    display: grid;
    grid-gap: .5em;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
  } 

.gallerywrapper {
  display: grid;
  justify-items:center;
  grid-gap:.5em;
  align-items:end;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
  


/*This stuff is for the hamburger menu*/
.toggleNav {
    display:grid; /*This is what allows the hamburger icon and "Menu" to display*/
    }

#flex-nav ul {
    display: none; /*jQuery toggles the nav from to this class to the .open when clicked*/
    text-align:center;
    list-style: none;
    margin: 0;
    padding: 0;
    }
 
#flex-nav ul.open { /*.open is the class that gets toggled when clicked (with help from the jQuery code)*/
    display:grid;
    }
    
#flex-nav li {
    padding-left:10px;
    padding-top:10px;
    }

#flex-nav a {
    color:white;
    text-decoration:none;
    }

#flex-nav a:hover {
    color:mediumspringgreen;
    }


/*---------------------Desktop media query----------------------------*/
@media only screen and (min-width: 960px)   {
     

    
#navwrapper {
    display:grid;
    grid-template-areas:
    "first second third fourth fifth";
    }
    
.toggleNav {
    display: none; /*Makes the hamburger icon with the word "Menu" to disappear at this screen size*/
  }
  
#flex-nav ul {
    display:grid;
    text-align:center;
  }

#flex-nav li {
    padding-top:10px;
    }
    
}
